html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #343541;
}

* {
  font-family: Pretendard, serif;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 768px;
  padding: 0 24px;
  position: relative;
  height: 100vh;
}
